.homeContainer{
    display: flex;
    align-items: center;
}
.loginSection{
    width: 40%;
}
.coverImageSection{
    height: 700px;
    width: 60%;
    background-color: aqua;
}
.coverImage{
    width: 100%;
    height: 100%;   
    object-fit: cover;   
}