.loginSectionContainer{
    width: 70%;
    margin: auto;
}
hr{
    border: 1px solid#D5D5D5;
}
h3{
    font-weight: normal;
    font-size: medium;
    letter-spacing: 2px;
}
span{
    font-weight: bold;
}
.formContainer{
    display: flex;
}
.formField{
    text-align: left;
    margin: 15px 0px;
}
.loginButton{
    width: 100%;
    padding: 10px;
    background-color: rgb(37, 150, 190);
    border: 0px;
    border-radius: 10px;
    color: white;
}
.input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D5D5D5;
    padding: 10px;
}
.waterImage{
    width: 100px;
}

.footer{
    width: 70%;
    margin: 50px auto;
}

input:focus{
    outline: none;
}